body{
   
    { 
        #banner}
    width:100%;
}
.principal
{ 
    background-color: #cccccc;
    padding: 30px;
 }
    h1 {
        text-align: center;
    }
    p{
        text-align: center;
    }
    em strong{
        text-align: center;
    }
#missao{
    font-size: 20px;
}
.itens{
    font-style: italic;
}
.beneficios{
    background-color: rgb(219, 6, 219)
    padding: 20px;
}
em strong{
    color: rgba(242, 0, 255, 0.429);
}